body {
  font-family: "Cabin", sans-serif;
  background-position: center;
  color: #005792;
  border-radius: 10% 10% 10% 10%;
  margin: 20px;
  text-align: center;
}

.App {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 70px;
}

.WeatherApp {
  max-width: 700px;
  border: 1px solid #005792;
  border-radius: 20px;
}

.search-form {
  text-align: right;
  margin-right: 75px;
  padding: 20px;
}

.Forecast {
  text-align: center;
  margin-bottom: 20px;
}
